html {
  /* Fixed gradient that covers entire viewport */
  position: relative;
  min-height: 100vh;
  background-color: #e2e2e2;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#ececec, #e395ff);
  z-index: -1;
  pointer-events: none;
}

/* For PDF export, use static gradient */
@media print {
  html {
    height: auto;
  }

  html::before {
    position: absolute;
    height: 100%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #3b3b3b;
  max-width: 920px;
  margin: auto;
  padding: 32px;
  position: relative;
  background-color: white;
  min-height: calc(100vh - 64px);
}

body::before {
  content: "";
  position: absolute;
  left: -32px;
  width: 32px;
  top: 0;
  bottom: 0;
  border-right: 1px dashed #e2e2e2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  clip-path: inset(0 0 0 -29px);

  background: radial-gradient(circle, transparent 25%, white 27%);
  background-size: 32px 32px;
}

body::after {
  content: "";
  position: absolute;
  right: -32px;
  width: 32px;
  top: 0;
  bottom: 0;
  border-left: 1px dashed #e2e2e2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  clip-path: inset(0 -29px 0 0);

  background: radial-gradient(circle, transparent 25%, white 27%);
  background-size: 32px 32px;
}
